body {
  margin: 0;
  background: #0b1d2a;
  font-family: 'Playfair Display', serif;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

/* BOOK CONTAINER */
#book {
  width: 90vw;
  max-width: 420px;
  height: 600px;
  margin: auto;
}

/* PAGE */
.page {
  background: #111827;
  color: white;
  padding: 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* COVER */
.cover img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.coverback {
  background: linear-gradient(135deg, #0b1d2a, #781421);
}

.coverback img {
  margin: 0;
  background-image: url("assets/Back.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gift {
  background-image: url("assets/opening.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  margin: 0;
  background-image: url("assets/letter.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 }

.content H2 {
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 30px;
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
  color: burlywood;
}


/* DESIGN PAGE */
.design{
  background: linear-gradient(135deg, burlywood, beige, black);
}

.Desm{
  display: flex;
   margin: 0;
  background-image: url("assets/design.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Desm p{
  padding-left: 89px;
  padding-top: 68px;
  font-family: "Shadows Into Light", cursive;
  color: #111827;
  font-size: 30px;
}


/* MESSAGE */

.message{
  margin: 0;
  background-image: url("assets/message.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.message h2 {
  padding-top: 80px;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  color: #facc15;
}

.message p {
  font-family: "Shadows Into Light", cursive;
  line-height: 1.8;
  font-size: 20px;
  color: blanchedalmond;
  text-align: center;

}

/* CHAPTER */
.chapter {
  text-align: center;
}

.chapter span {
  color: #facc15;
  letter-spacing: 2px;
  font-size: 12px;
}

.chapter h2 {
  margin-top: 15px;
}

/* POEMS */
.poem {
  font-size: 15px;
  line-height: 1.8;
}

/* ENDING */
.ending {
  text-align: center;
}

.ending h2 {
  font-family: 'Great Vibes', cursive;
  color: #facc15;
}

/* MOBILE IMPROVEMENT */
@media (min-width: 768px) {
  #book {
    max-width: 900px;
    height: 600px;
  }
}